@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.default {
  font-family: Poppins;
}

.light-base-typography {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.light-sm-typography {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.light-base-gray-typography {
  color: #9ca3af;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.light-sm-gray-typography {
  color: #9ca3af;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.bold-3xl-typography {
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bold-sm-gray-typography {
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.normal-xs-gray-typography {
  color: #9ca3af;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.normal-xs-steelblue-typography {
  color: #64748b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
